@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


* {
    margin:0;
    padding: 0;
}

body {
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
text-align: center;
}

.img-center {
    margin: 0 auto;
}