@import href="https: //fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


* {
    margin:0;
    padding: 0;
}

body
 
{
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
text-align: center;
background-color: plum;
}



.img-center {
    margin: 0 auto;
}