* {
  margin: 0;
  padding: 0;
}

HEAD
body
 
{
    font-family: "EB Garamond", serif;

body {
  font-family: "EB Garamond", serif;

  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  background-color: lightpink;
  color: ghostwhite
}



.img-center {
  margin: 0 auto
}


div {
  margin: 100px 0;
}

img {
  margin-bottom: 60px 0;
  border-radius: 30px;
}
.capa{
  border-right: 0px;
}
.intro{
  background-color: hotpink;
  padding: 0 0 36px 0;
}